:root {
  --color-debug: rgba(0 255 0/0.1);
  --icon-size: 32px;
}

*,
*::before,
*::after {
  border-box: box-sizing;
  margin: 0;
  padding: 0;

  background: var(--color-debug);
}

.icon {
  block-size: var(--icon-size);
  inline-size: var(--icon-size);
}

.visually-hidden {
  block-size: 1px;
  clip-path: inset(50%);
  inline-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.profile-picture-wrapper {
  block-size: var(--icon-size);
  inline-size: var(--icon-size);

  & .profile-picture {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }
}

body {
  inline-size: 100vw;
  block-size: 100vh;

  display: grid;
  /* grid: 250px 1fr / auto; */
  grid:
    "nav header"
    "nav main"/250px 1fr;
}

nav {
  /* grid-area: 1/1/3/2; */
  grid-area: nav;
}

header {
  /* grid-area: 1/2/2/3; */
  grid-area: header;
}

main {
  /* grid-area: 2/2/3/3; */
  grid-area: main;
}

.main-content {
  & .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
